@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.33;
    margin: 0;
    padding: 0;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    line-height: 1.33;
}

h1, .h1 {
    font-size: 44px;
    line-height: 60px;
}

h2, .h2 {
    font-size: 32px;
    line-height: 44px;
}

h3, .h3 {
    font-size: 24px;
    line-height: 34px;
}

h4, .h4 {
    font-size: 16px;
    line-height: 22px;
}

.b1 {
    font-size: 20px;
    line-height: 28px;
}

.b2 {
    font-size: 18px;
    line-height: 25px;
}

.b3 {
    font-size: 14px;
    line-height: 20px;
}

.b4 {
    font-size: 12px;
    line-height: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    outline: none;
    background: none;
}

@layer base {
    :root {
        /* Colors */
        --color-primary: #0073E6;
    }
}